nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav--img {
    margin-right: 7px;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}